.main {
  margin-top: 140px;
}

.main__content {
  width: 558px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.main__images {
  position: relative;
}

.main__images img {
  position: absolute;
  z-index: -1;
}

.main__images .rocket {
  width: 453px;
  height: 580px;
  left: 400px;
}

.main__images .circle-blue {
  width: 180px;
  height: 182px;
  top: 60px;
  left: -70px;
}

.main__images .circle-orange {
  width: 177px;
  height: 178px;
  top: 500px;
}

.main__images .circle1 {
  width: 89px;
  height: 89px;
  left: -200px;
  top: 480px;
}

.main__images .circle2 {
  width: 60px;
  height: 60px;
  top: 400px;
  left: 40px;
}

.main__images .ray {
  width: 116;
  height: 103px;
  left: -200px;
  top: 200px;
}

.content {
  width: 422px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.content__title {
  max-width: 304px;
  margin: 0 auto;
}

.content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title__activation {
  padding-top: 50px;
}

input[type="text"]::-moz-placeholder {
  color: #1d71b8;
  opacity: 1;
}

input[type="tel"]::-moz-placeholder {
  color: #1d71b8;
  opacity: 1;
}

input[type="name"]::-moz-placeholder {
  color: #1d71b8;
  opacity: 1;
}

.form__input {
  padding: 10px 20px;
  border: 2px solid #bfe5ec;
  border-radius: 15px;
  color: #1d71b8;
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  outline: none;
  background: transparent;
  margin-top: 30px;
}

.form__input::-webkit-input-placeholder {
  color: #1d71b8;
}

.form__input:-ms-input-placeholder {
  color: #1d71b8;
}

.form__input::-ms-input-placeholder {
  color: #1d71b8;
}

.form__input::placeholder {
  color: #1d71b8;
}

.form__button {
  border: none;
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1d6fb5;
  margin-top: 30px;
  padding: 9px;
  -webkit-box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
          box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
  border-radius: 10px;
  cursor: pointer;
}

.form__button:active {
  background-color: #fff;
  color: #1d6fb5;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-outer-spin-button,
input[type="number"]::-moz-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-ms-outer-spin-button,
input[type="number"]::-ms-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 767.98px) {
  .title__activation {
    padding-top: 20px;
  }
  .main {
    margin-top: 110px;
  }
  .main__content {
    width: 502px;
  }
  .main__images .rocket {
    width: 453px;
    height: 580px;
    left: 200px;
  }
  .main__images .circle-orange {
    width: 177px;
    height: 178px;
    top: 450px;
  }
  .main__images .circle1 {
    width: 89px;
    height: 89px;
    left: 200px;
    top: 0px;
  }
  .main__images .circle2 {
    width: 60px;
    height: 60px;
    top: 400px;
    left: 40px;
  }
  .main__images .ray {
    width: 116;
    height: 103px;
    left: -130px;
    top: 200px;
  }
}

@media (max-width: 575.98px) {
  .title__activation {
    padding-top: 20px;
  }
  .main {
    margin-top: 110px;
  }
  .main__content {
    width: 338px;
  }
  .main__images .rocket {
    width: 268px;
    height: 343px;
    left: 150px;
    top: 50px;
  }
  .main__images .circle-orange {
    width: 99px;
    height: 100px;
    top: 420px;
  }
  .main__images .circle-blue {
    width: 101px;
    height: 102px;
    top: 160px;
    left: -20px;
  }
  .main__images .circle1 {
    width: 49px;
    height: 49px;
    left: 180px;
    top: 170px;
  }
  .main__images .circle2 {
    display: none;
  }
  .main__images .ray {
    display: none;
  }
  .content {
    width: 298px;
  }
  .form__input {
    padding: 8px 20px;
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;
  }
  .form__button {
    font-size: 20px;
    line-height: 23px;
    padding: 9px;
    margin-top: 20px;
  }
}

/* Modal window*******************************************************************
*********************************************************************************/
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal__content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__container {
  position: relative;
  border-radius: 20px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal__images {
  margin-bottom: -5px;
}

.modal__images img {
  display: inline-block;
  padding-top: 27px;
  width: 718px;
  height: 300px;
}

.modal .modal__fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
  border-radius: 20px;
}

.modal__text-block {
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 20px 20px;
}

.modal__text {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #1d71b8;
  padding: 38px 20px;
}

.close {
  position: absolute;
  right: 20px;
  font-size: 37px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 932px) {
  .modal__container {
    margin: 0 20px;
    max-width: 748px;
  }
}

@media (max-width: 768px) {
  .modal__container {
    max-width: 748px;
  }
  .modal__images img {
    display: inline-block;
    padding-top: 27px;
    width: 653px;
    height: 275px;
  }
}

@media (max-width: 715px) {
  .modal__container {
    max-width: 748px;
  }
  .modal__images img {
    display: inline-block;
    padding-top: 27px;
    width: 500px;
    height: 200px;
  }
}

@media (max-width: 650px) {
  .modal__container {
    max-width: 748px;
  }
  .modal__images img {
    display: inline-block;
    padding-top: 27px;
    width: 303px;
    height: 127px;
  }
}

.__active-modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.form__input._error {
  border: 2px solid red;
}

/***************************************************
************************CHeckbox*******************/
.checkbox {
  height: 656px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
}

.checkbox__title {
  margin-top: 90px;
}

.checkbox__checked {
  margin: 0 auto;
  max-width: 330px;
}

.checkbox__checked._error label::before {
  border: 1px solid red;
}

.checkbox__active {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__active + label {
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  position: relative;
  left: 50px;
}

.checkbox__active + label::before {
  left: -50px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 39px;
  height: 39px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid #bfe5ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.checkbox__active + .active {
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  position: relative;
  left: 50px;
}

.checkbox__active + .active::before {
  left: -50px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 39px;
  height: 39px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.checkbox__active:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("../img/checkbox.svg");
}

.checkbox__rules {
  font-family: "Bryndan Write";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #949494;
}

.checkbox__link {
  margin-left: 5px;
  text-transform: uppercase;
  color: #1d6fb5;
  border-bottom: 1px solid #1d6fb5;
}

.checkbox__buttom {
  margin: 0 69px;
  padding: 16px;
  border-radius: 20px;
  background-color: #1d6fb5;
  color: #fff;
  border: none;
  font-family: Lugatype;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.checkbox__buttom:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 575.98px) {
  .checkbox {
    height: 506px;
  }
  .checkbox__title {
    font-size: 28px;
  }
  .checkbox__checked {
    max-width: 250px;
  }
  .checkbox__active + label {
    position: relative;
    left: 20px;
  }
  .checkbox__rules {
    font-size: 18px;
  }
}

.__none {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
