.main {
	margin-top: 140px;
	&__content {
		width: 558px;
		margin: 0 auto;
		background: rgba($color: #fff, $alpha: 0.6);
		border-radius: 20px;
		padding-bottom: 40px;
	}

	&__images {
		position: relative;

		& img {
			position: absolute;
			z-index: -1;
		}

		.rocket {
			width: 453px;
			height: 580px;
			left: 400px;
		}

		.circle-blue {
			width: 180px;
			height: 182px;
			top: 60px;
			left: -70px;
		}

		.circle-orange {
			width: 177px;
			height: 178px;
			top: 500px;
		}

		.circle1 {
			width: 89px;
			height: 89px;
			left: -200px;
			top: 480px;
		}
		.circle2 {
			width: 60px;
			height: 60px;
			top: 400px;
			left: 40px;
		}

		.ray {
			width: 116;
			height: 103px;
			left: -200px;
			top: 200px;
		}
	}
}
.content {
	width: 422px;
	margin: 0 auto;
	&__title {
		max-width: 304px;
		margin: 0 auto;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}
}
.title {
	&__activation {
		padding-top: 50px;
	}
}

input[type="text"]::-moz-placeholder {
	color: #1d71b8;
	opacity: 1;
}

input[type="tel"]::-moz-placeholder {
	color: #1d71b8;
	opacity: 1;
}

input[type="name"]::-moz-placeholder {
	color: #1d71b8;
	opacity: 1;
}
.form {
	&__input {
		padding: 10px 20px;
		border: 2px solid #bfe5ec;
		border-radius: 15px;
		color: #1d71b8;
		font-family: "Lugatype";
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 27px;
		outline: none;
		background: transparent;
		margin-top: 30px;
		&::placeholder {
			color: #1d71b8;
		}
	}

	&__button {
		border: none;
		font-family: "Lugatype";
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		line-height: 32px;
		text-transform: uppercase;
		color: #fff;
		background-color: #1d6fb5;
		margin-top: 30px;
		padding: 9px;
		box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
		border-radius: 10px;
		cursor: pointer;
		&:active {
			background-color: #fff;
			color: #1d6fb5;
		}
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-moz-outer-spin-button,
input[type="number"]::-moz-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-ms-outer-spin-button,
input[type="number"]::-ms-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media (max-width: 767.98px) {
	.title__activation {
		padding-top: 20px;
	}

	.main {
		margin-top: 110px;
		&__content {
			width: 502px;
		}

		&__images {
			.rocket {
				width: 453px;
				height: 580px;
				left: 200px;
			}

			.circle-orange {
				width: 177px;
				height: 178px;
				top: 450px;
			}

			.circle1 {
				width: 89px;
				height: 89px;
				left: 200px;
				top: 0px;
			}
			.circle2 {
				width: 60px;
				height: 60px;
				top: 400px;
				left: 40px;
			}

			.ray {
				width: 116;
				height: 103px;
				left: -130px;
				top: 200px;
			}
		}
	}
}

@media (max-width: 575.98px) {
	.title__activation {
		padding-top: 20px;
	}

	.main {
		margin-top: 110px;
		&__content {
			width: 338px;
			padding-bottom: 30px;
		}

		&__images {
			.rocket {
				width: 268px;
				height: 343px;
				left: 150px;
				top: 50px;
			}

			.circle-orange {
				width: 99px;
				height: 100px;
				top: 420px;
			}

			.circle-blue {
				width: 101px;
				height: 102px;
				top: 160px;
				left: -20px;
			}

			.circle1 {
				width: 49px;
				height: 49px;
				left: 180px;
				top: 170px;
			}
			.circle2 {
				display: none;
			}

			.ray {
				display: none;
			}
		}
	}

	.content {
		width: 298px;
	}

	.form {
		&__input {
			padding: 8px 20px;
			font-size: 20px;
			line-height: 23px;
			margin-top: 20px;
		}

		&__button {
			font-size: 20px;
			line-height: 23px;
			padding: 9px;
			margin-top: 20px;
		}
	}
}

/* Modal window*******************************************************************
*********************************************************************************/

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 200;
	transition: all 0.3s ease-in;
	transform: scale(0);

	&__content {
		margin-top: 20px;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	&__container {
		position: relative;
		border-radius: 20px;
		width: 900px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	&__images {
		margin-bottom: -5px;
		& img {
			display: inline-block;
			padding-top: 27px;
			width: 718px;
			height: 300px;
		}
	}
	.modal__fon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.7);
		z-index: -1;
		border-radius: 20px;
	}
	&__text-block {
		text-align: center;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 0 0 20px 20px;
	}

	&__text {
		font-family: "Lugatype";
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 34px;
		text-align: center;
		text-transform: uppercase;
		color: #1d71b8;
		padding: 38px 20px;
	}
}
.close {
	position: absolute;
	right: 20px;
	font-size: 37px;
	color: #fff;
	cursor: pointer;
}

@media (max-width: 932px) {
	.modal {
		&__container {
			margin: 0 20px;
			max-width: 748px;
		}
	}
}

@media (max-width: 768px) {
	.modal {
		&__container {
			max-width: 748px;
		}
		&__images {
			& img {
				display: inline-block;
				padding-top: 27px;
				width: 653px;
				height: 275px;
			}
		}
	}
}

@media (max-width: 715px) {
	.modal {
		&__container {
			max-width: 748px;
		}
		&__images {
			& img {
				display: inline-block;
				padding-top: 27px;
				width: 500px;
				height: 200px;
			}
		}
	}
}

@media (max-width: 650px) {
	.modal {
		&__container {
			max-width: 748px;
		}
		&__images {
			& img {
				display: inline-block;
				padding-top: 27px;
				width: 303px;
				height: 127px;
			}
		}
	}
}

.__active-modal {
	transform: scale(1);
	transition: all 0.4s ease-in;
}

.form__input._error {
	border: 2px solid red;
}
